<nav class="mb-1 navbar navbar-expand-lg navbar-dark" style="background-color: rgb(224, 241, 238); margin-bottom: 0px;" >
    
    <a class="navbar-brand" href="{{url_for('main.index')}}" style="color: black;text-align:center"> </a>
<div  class="collapse navbar-collapse">
            <ul class="navbar-nav"  style="text-align: center;padding-inline: 2px;">
                
                
                {% if current_user.is_authenticated %}
                <li class="collapse navbar-collapse">                    
                        <a class="nav-link" href="{{url_for('main.new_post')}}"  style="color:black">Create Post</a>
                </li>
             
                    <li class="collapse navbar-collapse">
               
                            <a class="nav-link" href="{{url_for('main.index')}}" style="color:black">Posts</a>
                    </li>
                    
                {% endif %}
            </ul>
        <ul class="navbar-nav">
           {% if current_user.is_authenticated %}
    
            <li class="collapse navbar-collapse">
                    <a class="navbar-link" href="{{url_for('main.profile',name=current_user.username)}}"  style="color:black;font-size: 10px">Profile</a></li>
                    <br>
             </li>
            <li class="collapse navbar-collapse">
             <div >
                 <a class="navbar-link"  href="{{url_for('auth.logout')}}" style="color:black;font-size: 10px"> Log Out</a>
        
              </div>
            </li>
            
            {% else %}
            <li class="collapse navbar-collapse">
         
           
             <a href="{{url_for('auth.login')}}" style="margin-right:30px; text-decoration:none;color:black " class="nav-link"> <strong>Login</strong></a>
            
            </li>
                <li class="collapse navbar-collapse">
                <a href="{{url_for('auth.register')}}" style="margin-right:30px;text-decoration:none;color:black;" class="nav-link"><strong>Sign Up</strong></a>
            </li>
            {% endif %}
         </ul>
    </div>
</nav>
 